<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>CRDT Project</title>
    <meta charset="UTF-8">
    <style>
      #app{
	  display: flex;
		   
      }

      #app > div{
	  flex: 1;
      }
    </style>
  </head>
  <body>
    <h1>CRDT Algorithm</h1>
    <div id="app">

      <div v-if="servers">
	  <div v-for="(server, index) in servers">
	    {{ index }}: {{ server.ident }}<b v-if="server.alive"> Server connected</b>
	    <b v-else>Server disconnected</b>
	    <div>
	      <ul>
		<li v-for="video in server.videos">
		  {{video}}
		</li>
	      </ul>
	    </div>
	  </div>
      </div>
      <div>
	<h5>Watch the video in the server</h5>
	<div>
	  <select v-if="servers" v-model="selected" multiple>
	    <option v-for="server in servers">{{server.ident}}</option>
	  </select>
	  <br><br>
	  <input v-model="times"></input>
	  <button v-on:click="watch()">Watch</button>
	</div>
	
	<hr>
	
	<div>
	  <h5>Start or shutdown the server</h5>
	  <select v-if="servers" v-model="selected" multiple>
	    <option v-for="server in servers">{{server.ident}}</option>
	  </select>
	  <br><br>
	  <button v-on:click="toggle()">Toggle status</button>
	</div>
	
	<hr>
	<button v-on:click="test()">Simulate Test</button>
	<p v-if="total > 0">Total number of views for test: {{total}}</p>
      </div>
    </div>

 
    <script src="/js/vue.min.js"></script>
    <script src="/js/resource.js"></script>
    <script>
      var host = 'http://localhost:8000';
      var vm = new Vue({
	  el: '#app',
	  data: function(){
	      return{
		  servers: false,
		  selected: null,
		  times: 1,
		  total: 0
	      }
	  },
	  methods:{
	      getServers(){
		  var self = this;
		  this.$http.get(host+'/servers').then(function(response){
		      if(response.status == "200"){
			  self.servers = response.data;
		      }})
	      },

	      watch(){
		  var self = this;
		  this.$http.get(host+'/watch/' + this.selected + "/" + this.times).then(function(response){
		      if(response.status == "200"){
			  this.getServers();
		      }})
	      },

	      test(){
		  var self = this;
		  for (var key in this.servers){
		      var amount = Math.floor(Math.random() * (1000 - 1)) + 1;
		      this.$http.get(host+'/watch/' + self.servers[key].ident + "/" + amount).then(function(response){
		      if(response.status == "200"){
			  self.getServers();
			  total += amount;
		      }})
		      self.total += amount
		  }

	      },

	      toggle(){
		  var self = this;
		  this.$http.get(host+'/toggle/' + this.selected).then(function(response){
		      if(response.status == "200"){
			  this.getServers();
		      }})
	      }
	  },
	  mounted () {
	      this.getServers();
	      var self = this;
	      (function(){
		  self.getServers();
		  setTimeout(arguments.callee, 2000);
	      })();
	  }
      });
    </script>
  </body>
</html>
